{{- $user := .Get "user" -}}
{{- $domain := .Get "domain" -}}
{{- $display := .Get "display" | default (printf "%s [at] %s" (replace $user "." " (dot) ") (replace $domain "." " (dot) ")) -}}
{{- $userRev := "" -}}{{- range (split $user "") | collections.Reverse -}}{{- $userRev = printf "%s%s" $userRev . -}}{{- end -}}
{{- $domainRev := "" -}}{{- range (split $domain "") | collections.Reverse -}}{{- $domainRev = printf "%s%s" $domainRev . -}}{{- end -}}
<a href="#" class="email-link" data-u="{{ $userRev }}" data-d="{{ $domainRev }}">{{ $display }}</a>
