{{- $user := .Get "user" -}}
{{- $domain := .Get "domain" -}}
{{- $display := .Get "display" | default (printf "%s (dot) %s [at] %s" (replace $user "." " (dot) ") (index (split $domain ".") 0) (replace (strings.TrimPrefix (printf "%s." (index (split $domain ".") 0)) $domain) "." " (dot) ")) -}}
{{- $id := printf "email-%s" (substr (md5 (printf "%s%s" $user $domain)) 0 8) -}}
<a href="#" id="{{ $id }}" onclick="window.location.href='mailto:' + '{{ $user }}' + '@' + '{{ $domain }}'; return false;">{{ $display }}</a>
